:root {
  --main-color: #f1f2f1;
  --side-color-1: #939995;
  --side-color-2: #32302e;
  --shadow-color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
  color: var(--side-color-2);
}

/* header section start */
header {
  display: flex;
  position: fixed;
  background-color: var(--side-color-1);
  width: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header h1 {
  margin-left: 3rem;
  font-weight: 900;
}

header nav {
  margin: 1rem;
}

header nav a {
  margin-left: 5rem;
  color: var(--side-color-2);
  text-decoration: none;
}

header nav a:hover {
  content: "test";
  display: inline-block;
  border-bottom: var(--side-color-2);
  text-decoration-line: underline;
}
/* header section end */

/* main section start */
main {
  display: flex;
  padding: 5rem 0 1rem;
  align-items: center;
  gap: rem;
}

main .avatar-card {
  flex-basis: 50%;
  text-align: center;
  box-shadow: 1rem 1rem 1rem var(--side-color-2);
  border-radius: 0.1rem;
}

main .description {
  flex-basis: 50%;
  text-align: justify;
  margin: 3rem;
}
/* main section end */

/* section layout and screen start */
.full-screen {
  min-height: 100vh;
}

section h2 {
  text-align: center;
  padding: 5rem;
}
/* section layout and screen end */

/* experiences section start */
.experiences .card {
  background-color: var(--side-color-1);
  border-radius: 1rem;
  min-height: 10rem;
  position: relative;
  margin: 0 2rem 5rem;
}

.experiences .card h3 {
  position: absolute;
  top: -2.5rem;
  left: 16rem;
}

.experiences .card h4{
  margin-left: 16rem;
}

.experiences .card .periode{
  position: absolute;
  top: -2rem;
  right: 1rem;
}

.experiences .card img {
  position: absolute;
  top: -1rem;
  left: 3rem;
  width: 12rem;
  height: 12rem;
  border-radius: 1rem;
}

.experiences .card ul {
  margin-left: 14rem;
}
/* experiences section end */

/* projects section start */
.projects {
  
}
/* projects section end */

/* skills section start */
.skills-and-tools {
  position: relative;
}

.skills-and-tools .boards {
  display: flex;
  justify-content: space-between;
}

.skills-and-tools .boards .board {
  padding: 1rem;
  border: 0.1em solid var(--side-color-2);
  border-radius: 3%;
  margin: 1rem;
  box-shadow: .1rem .1rem 1rem var(--side-color-2) inset,
    -.1rem -.1rem 1rem var(--side-color-2) inset;
  background-color: var(--side-color-1);
  flex: 1;
}

.skills-and-tools .boards .board h3{
  text-align: center;
}

.skills-and-tools .boards .board .parts{

}

.skills-and-tools .boards .board .parts .part{
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: -.1rem .1rem .2rem var(--shadow-color), .1rem -.1rem .2rem var(--shadow-color);
  border-radius: 1rem;
  margin: 1rem 0;
}

.skills-and-tools .boards .board .parts .part .part-name{
  flex: 1;
}

.skills-and-tools .boards .board .parts .part .icons{
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex: 1;  
}

.skills-and-tools .boards .board .parts .part .icon{
  padding: .1rem;
}

.skills-and-tools .boards .board .parts .part .icons .icon img{
  border-radius: .3rem;
  padding: .3rem;
  background-color: var(--main-color);  
  display: block;
  margin: auto;
}

/* skills section end */

/* contact section start */
.contact {
  height: 90vh;
}
/* contact section end */

/* footer section start */
footer {
  height: 10vh;
  text-align: center;
}
/* footer section end */

/* media query */
