:root{
  --main-color: #F1F2F1;
  --side-color-1: #939995;
  --side-color-2: #32302E;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
  color: var(--side-color-2)
}

/* flexbox layout start*/
.flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
/* flexbox layout end */

/* header section start */
header{
  position: fixed;
  background-color: var(--side-color-1);
  width: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

header h1{
  margin-left: 3rem;
  font-weight: 900;
}

header nav{
  margin: 1rem;
}

header nav a{
  margin-left: 5rem;
  color: var(--side-color-2);
  text-decoration: none;
}

header nav a:hover{
  content: "test";
  display: inline-block;
  border-bottom: var(--side-color-2);
  text-decoration-line: underline;
}
/* header section end */

/* main section start */
main{
  padding: 5rem 0 1rem;
  align-items: center;
  gap: rem;
}

main .avatar-card{
  flex-basis: 50%;
  text-align: center;
  box-shadow: 1rem 1rem 1rem var(--side-color-2);
  border-radius: .1rem;
}

main .description{
  flex-basis: 50%;
  text-align: justify;
  margin: 3rem;
}
/* main section end */

/* section layout and screen start */
.full-screen{
  min-height: 100vh;
}

section h2{
  text-align: center;
  padding: 5rem;
}
/* section layout and screen end */

/* experiences section start */
.experiences{
}
/* experiences section end */

/* projects section start */
.projects{
  
}
/* projects section end */

/* skills section start */
.skills{
  
}
/* skills section end */

/* contact section start */
.contact{
  height: 90vh;
}
/* contact section end */

/* footer section start */
footer{
  height: 10vh;
}
/* footer section end */

/* media query */