html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  color: #232323;
}

body {
  align-items: center;
  background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
  display: flex;
  font-family: "Dosis", sans-serif;
  font-display: swap;
  height: inherit;
  justify-content: center;
}

#app {
  backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.3);
  flex-basis: 400px;
  height: 500px;
  padding: 20px 35px;
}

.screen {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.01);
  text-align: right;
  border-radius: 12px;
  overflow: auto;
  padding: 20px;
  font-size: 35px;
  box-shadow: 0 40px 30px rgba(35, 35, 35, 0.1);
  width: 365px;
}

.cal-buttons-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.cal-button {
  box-shadow: 0 40px 30px rgba(35, 35, 35, 0.1);
  flex-basis: 20%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 24px;
  font-family: inherit;
  height: 65px;
  border-radius: 12px;
}

.cal-button:last-child {
  color: #fff;
  background: #b72880;
}

.cal-button:last-child:hover {
  color: inherit;
  background: inherit;
}

.cal-button:hover {
  background-color: inherit;
}

.cal-button:active,
.cal-button:last-child:active {
  background: radial-gradient(30px, yellow, #ffef78);
}

.double {
  flex-basis: 47%;
}
.triple {
  flex-basis: 73%;
}
